<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.humanize.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.humanize.app.helper.ApplicationState"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Humanize">
        <activity
            android:name="com.humanize.app.activity.AppLauncherActivity"
            android:label="Humanize"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialDesignTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.humanize.app.activity.CardActivity"
            android:label="HUMANIZE"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialDesignTheme" />
        <activity
            android:name="com.humanize.app.activity.WebBrowserActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialDesignTheme" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="03639786c99eae8b1629cad76bcef8cb5ffa2aeb" />

        <activity
            android:name="com.humanize.app.activity.UpdateCategoriesActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialDesignTheme" />
        <activity
            android:name="com.humanize.app.activity.SubmitArticleActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialDesignTheme"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.humanize.app.activity.AboutUsActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialDesignTheme" />
        <activity
            android:name="com.humanize.app.activity.ContactUsActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialDesignTheme"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.humanize.app.activity.SingleCategoryContentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialDesignTheme" />
        <activity
            android:name="com.humanize.app.activity.InviteFriendActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialDesignTheme"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.humanize.app.activity.SelectCategoriesActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialDesignTheme" />
        <activity
            android:name="com.humanize.app.activity.SingleContentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialDesignTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="humannize.com"
                    android:pathPrefix="/content/"
                    android:scheme="http" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.humannize.com"
                    android:pathPrefix="/content/"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.humanize.app.activity.BookmarksActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialDesignTheme" />
        <activity
            android:name="com.humanize.app.activity.PaperActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialDesignTheme" />
        <activity
            android:name="com.humanize.app.activity.HistoricPaperActivity"
            android:label="@string/title_activity_historic_paper"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.humanize.app.activity.UpdatePaperTimeActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialDesignTheme">
        </activity>
    </application>

</manifest>
